[Desktop Entry]
Version=1.0
Type=Application
Name=<NAME OF YOUR APPLICATION>
Exec=<COMMAND TO EXECUTE TO START YOUR APPLICATION>
Icon=<OPTIONAL FULL PATH TO THE ICON TO USE FOR YOUR APPLICATION>